body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 30px;
  transition: background-color 300ms ease;
}

.btn:hover,
.btn:focus {
  background-color: #ff6c00;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* -----------------HEADER----------------- */

/* -----------------HERO----------------- */

/* -----------------ABOUT----------------- */

/* -----------------PRICES----------------- */

/* -----------------BENEFITS----------------- */

/* -----------------MASTERS----------------- */

/* -----------------GALLERY----------------- */

/* -----------------ONLINE----------------- */

/* -----------------CONTACTS----------------- */

/* -----------------FOOTER----------------- */

/* MODAL */
