.benefits {
  padding-top: 140px;
  padding-bottom: 130px;
}

.benefits .container {
  display: flex;
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
}

.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
}

.benefits-item-count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #ff6c00;
  vertical-align: top;
}

.benefits-content {
  width: 50%;
  padding-top: 30px;
  margin-left: 130px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.benefits-bottom-text {
  color: #555555;
}
