.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  margin-right: 70px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 300ms ease;
  position: relative;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-link.current:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ff6c00;
  border-radius: 2px;
  left: 0;
  bottom: -48px;
}

.header-connect {
  margin-left: auto;
}

.header-btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}
